# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de base de datos locales
*.db

# Archivos temporales
*.log
*.tmp

# Archivos de Excel temporales
temp.xlsx

# Ejecutables generados
*.exe

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
